.Dictionary section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.Dictionary form {
    text-align: center;
}

.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.Dictionary input {
    color: #333;
    width: 50%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}