.Meaning h3 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 1px 1px 1px #02cddb;
}

.Meaning .definition {
    margin: 5px 0;
}

.Meaning .example {
    color: #03767e;
    font-style: italic;
    margin-left: 30px;
}