.Photos img {
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #02cddb;
    box-shadow: 3px 3px 7px #016870;
    transition: all .35s ease-in-out;
}

.Photos img:hover {
    box-shadow: none;
}